@media screen and (min-width: 768px) {
  header {
    width: 400px;
    margin: 1.5rem auto;
  }

  main {
    margin: 5rem auto;
    width: 20rem;
    height: auto;
  }

  .btn-choice {
    height: 9rem;
    width: 9rem;
  }

  .btn-choice .wrapper {
    height: 7rem;
    width: 7rem;
  }

  .btn-choice img {
    width: 3.3rem;
  }

  .choice-block {
    grid-column-gap: 50px;
    background: no-repeat local 65% 100%;
    background-image: url(./img/bg-triangle.svg);
    background-size: 75%;
  }

  .picked {
    position: relative;
    left: -110px;
    width: 541px;
    height: 250px;
    column-gap: 2rem;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
    align-items: center;
  }

  .picked h1 {
    font-size: 2.3rem;
  }

  .result {
    text-align: center;
    padding-top: 2rem;
    grid-column: 2;
    grid-row: 1;
  }

  .house-picked {
    grid-column: 3;
  }

  .rules-block {
    text-align: right;
    margin-top: 2rem;
    margin-right: 1.5rem;
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 550px;
    margin: 1.5rem auto;
  }

  header img {
    height: 5rem;
    width: auto;
  }

  .score-block {
    width: 100px;
    padding: 20px 0;
  }

  .choice-block {
    grid-column-gap: 70px;
    background: no-repeat local 72% 100%;
    background-image: url(./img/bg-triangle.svg);
    background-size: 75%;
  }
}

@media screen and (min-width: 1200px) {
    header{
        margin-bottom: 7rem;
    }
}

@media screen and (min-width: 1400px) {
    header{
        margin-bottom: 4rem;
    }

    .score-block p, .btn-rules, .score-block p{
        font-size: 1rem;
    }
}
