@media screen and (min-width: 767px) {
  header {
    width: 500px;
    margin: 1.5rem auto 0;
  }

  .choice-block {
    grid-template: repeat(3, 140px) / repeat(2, 1fr);
    margin: 3rem auto 0;
    width: 395px;
    height: auto;
    background: no-repeat local 50% 50%;
    background-image: url(./img/bg-pentagon.svg);
    background-size: 75%;
  }

  .picked {
    width: 600px;
    margin: 10rem auto 0;
    grid-template: 1fr / repeat(3, 1fr);
    justify-items: center;
    column-gap: 1.5rem;
  }

  .btn-choice {
    height: 7.6rem;
    width: 7.6rem;
  }

  .btn-choice .wrapper {
    height: 5.9rem;
    width: 5.9rem;
  }

  .user-picked {
    grid-column: 1;
  }

  .result {
    padding-top: 0;
    grid-column: 2;
    grid-row: 1;
  }

  .house-picked {
    grid-column: 3;
  }

  .btn-rules {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
}
